button {
  background-color: white;
  font-family: 'Marvel', sans-serif;
font-size: 20px;
  border-width: 0.8px;
  color: black;
  padding: 10px 70px;;
  text-align: center;
  text-decoration-color: gray;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	border-radius:6px;
	border-color: #F4F5F5;
	align-content: center;
}

input {
background-color: white;
text-align: center;
border-width: 0.6;
border-radius: 15;
padding: 10px 59px;
border-color: #F4F5F5;
font-size: 20px;
align-content: center;
font-family: 'Marvel', sans-serif;
}

h1 {
font-family: Georgia, serif;
font-size: 30px;
}

h2 {
font-family: copperplate, fantasy;
font-size: 30px;
}
form{
background-color: #E8E8E8;
box-sizing: center;
width:350px;
height: 580px;
background-size: 350px 580px;
border: 0.8px solid;
border-radius: 3px;
border-color: #F4F5F5;
}
div {
  font-family: 'Marvel', sans-serif;
font-size: 25px;
}
h3{
  font-size: 17px;
color: gray;
  font-family: 'Open Sans Condensed', sans-serif
}
p {
font-family: 'Montserrat', sans-serif;
color: #3B3B3B;
}
