button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 52px;;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	border-radius:30px;
}

input {
background-color: white;
text-align: center;
border-width: 0.8px;
size: 50;
border-radius: 30px;
padding: 15px 19px;
}

h1 {
font-family: Georgia, serif;
font-size: 50px;
}

h2 {
font-family: copperplate, fantasy;
font-size: 30px;
}
form{
  box-sizing: center;
width:400px;
height: 550px;
background: lightblue;
border: 0.8px solid;
border-radius: 3px;
align-content: center;
}
div {
  font-family: copperplate, fantasy;
font-size: 25px;
}
h3{
  font-size: 5px;
  font-family: 'Courier New', Courier, monospace;
}
